* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* container for logo, nav bar, login buttons */
header {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

/* nav bar */
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;
}

.nav__content {
    list-style-type: none;
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}

a:link, a:visited {
    text-decoration: none;
    color: #2F281E;
}

/* login buttons */
.nav__login {
    display: flex;
    gap: 14px;
}

.btn {
    height: 46px;
    width: 110px;
    border-radius: 5px;
}

.btn--signin {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #173A56;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
}

.btn--signup {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #FFFFFF;
    background-color: #FF9900;
}

/* top main section with video */
.content__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* info area on left */ 
.info {
    width: 518px;
    height: 331px;
}

.info__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

.info__content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
    width: 458px;
    margin-bottom: 45px;
}

/* container for get started and watch video buttons */
.buttons {
    display: flex;
    column-gap: 30px;
}

/* get started button */
.btn--start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: #FF9900;
    width: 175px;
    height: 53px;
}

/* watch video button */
.btn--playbutton {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-decoration-line: underline;
    color: #FF9900;
    background-color: #FFFFFF;
    width: 175px;
    height: 53px;
    display: flex;
    align-items: center;
}

.btn--playbutton img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}


/* image on right */
.image {
    width: 605px;
    height: 496px;
}

/* bottom section */
.content__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    width: 100%;
}

.subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

    width: 540px;
}

/* four tools sections */
.tools {
    justify-content: space-evenly;
}

.tools h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.tools p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
    }