* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* container for logo, nav bar, login buttons */
nav {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

/* nav bar */
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.nav-bar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;
}

.nav__content {
    list-style-type: none;
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    color: #2F281E;
}

/* login buttons */
.nav__login {
    display: flex;
    gap: 14px;
}

.btn {
    height: 46px;
    width: 110px;
    border-radius: 5px;
}

.btn--signin {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #173A56;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
}

.btn--signup {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #FFFFFF;
    background-color: #FF9900;
}

/* container for each section (class is used thruout page) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header info text */ 
.header__info {
    width: 518px;
    height: 331px;
}

.header__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

.header__content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
    width: 458px;
    margin-bottom: 45px;
}

/* container for buttons */
.header__button {
    display: flex;
    column-gap: 30px;
}

/* get started and sign up now buttons */
.btn--start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: #FF9900;
    width: 175px;
    height: 53px;
}

/* watch video button */
.btn--play {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-decoration-line: underline;
    color: #FF9900;
    background-color: #FFFFFF;
    width: 175px;
    height: 53px;
    display: flex;
    align-items: center;
}

.header__button a:link,
.header__button a:visited {
    text-decoration-line: underline;
    color: #FF9900;
    background-color: #FFFFFF;
}

.btn--play img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

/* header image */
.header__image {
    width: 605px;
    height: 496px;
}


/* feature section */
.feature__title {
    margin-top: 110px;
    width: 540px;
    margin-bottom: 54px;
    text-align: center;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

/* tools sections */
.feature__tools {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 45px;
    margin-bottom: 34px;
}

.feature__box {
    width: 240px;
    height: 178px;
}

.feature h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.feature p,
.validation__info p,
.product__info p,
.marketers__info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
    }

.feature img {
    width: 50px;
    height: 50px;
}


/* main content */
.validation, .product, .marketers {
    margin-top: 110px;
}

.validation__info h6,
.marketers__info h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;

    margin-top: 25px;
    margin-bottom: 12px;
}

.validation__info h5,
.marketers__info h5 {
    margin-bottom: 22px;
}


/* effortless validation section */
.validation__info {
    width: 486px;
    height: 531px;
}

.validation__image {
    width: 520px;
    height: 574px;
    margin-left: 104px;
}

/* product managers section */

.product__image {
    width: 535px;
    height: 521px;
    margin-right: 100px;
}

.product__info {
    width: 486px;
    height: 427px;
}

.product__list li {
    list-style-type: none;
    background: url("../images/checkmark.png") no-repeat left center;
    padding: 15px 30px 15px 65px;
}

/* marketers section */
.marketers__image {
    width: 542px;
    height: 609px;
}

.marketers__info {
    width: 486px;
    height: 493px;
    margin-right: 82px;
}

/* footer */
.footer {
    border-top: 1px solid #BCD0E5;
    width: 1109px;
    height: 308px;
    margin: 146px 0 83px 160px;
    padding-top: 102px;
    justify-content: space-between;
}

.footer__logo {
    align-self: flex-start;
}

.footer li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* or 219% */
    color: #544837;

    list-style-type: none;
}

.footer__button {
    flex-direction: column;
    width: 325px;
    /* transform: translateY(10px); */
    /* buttons would not position at flex-end so used transform
    instead */
}

.btn--empty {
    border: 1px solid #BCD0E5;
    background-color: #FFFFFF;
    width: 325px;
    height: 48px
}

.btn--footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    background-color: #FF9900;
    width: 131px;
    height: 39px;
    margin-top: 21px;
}